html, body {
    
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-image: url(weitereBilder/Menue6.png);
    display: flex;
    flex-direction: column;
}


ul {
    list-style-type: none;
    display: block;
    justify-content: space-between;
    width: 350px;
    padding-top: 180px;
    padding-left: 790px;
    font-size: 50px;
    font-family: fantasy;
    
}

a:link , a:active, a:visited {
    border: solid black 4px;
    color: black;
    background-color: red;
    text-decoration: none;
    display: block;
    text-align: center;
   
}


a:hover {
    
    color: orange;
    background-color: black;
}

